/*code for custom loading icon*/

.notificationLoader {
  border: 10px solid var(--neon-blue);
  border-radius: 50%;
  border-top: 10px solid var(--dark-bg);
  width: 30px;
  height: 30px;
}

.notificationToastBox {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  cursor: pointer;
}

.notificationToast {
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  /* height: 80px; */
  /* background: linear-gradient(to right, var(--neon-blue), hsl(276, 100%, 29%)); */
  background-color: var(--dark-neon-blue);
  border-radius: 10px;
  color: white;
  font-size: 12px;
}

.typeIconBox {
  display: flex;
  align-items: center;
}
.loading {
  background-color: hsl(204, 78%, 42%);
}

/* .success {
	background: rgb(0, 125, 0);
} */

.error {
  background: var(--error);
}
