.header {
  position: relative;
  width: 100%;
  height: var(--main-nav-height);
  /* background-color: rgb(0, 0, 0, 0.1); */
  /* box-shadow: 0 2px 2px var(--dark-neon-blue); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logoImage {
  /* margin-top: 4.8px; */
  border-radius: 10px;
  box-shadow: 0 0 5px var(--dark-neon-blue);
  vertical-align: bottom;
}

.logoImage:hover,
.logoImage:focus {
  box-shadow: 0 0 10px var(--neon-blue);
}
/* mainBarMenu */
.appNavigationBox {
  display: flex;
  gap: 30px;
}

.appNavLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--lightest-color);
  background-color: var(--dark-bg-color);
  outline: var(--main-border-size) solid var(--dark-neon-blue);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 0.8rem;
  gap: 10px;
}

.appNavLinkActive {
  background-color: var(--dark-neon-blue);
}
