/* components\app-page\add-item-modal-form.module.css */
.modalBackdrop {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--dark-bg-T75);
}

.formBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemForm,
.deleteForm {
  position: relative;
  background-color: var(--main-bg);
  text-align: center;
  border: var(--main-border-size) solid var(--dark-neon-blue);
  box-shadow: 0 0 .625rem var(--dark-neon-blue);
  z-index: 3;
}

.itemForm {
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1.25rem;
}

.deleteForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5625rem;
  border-radius: 1.25rem;
  color: var(--color-L100);
  background-color: var(--dark-bg);
  width: 40%;
  height: 50%;
  padding: 1.25rem;
}

.imageFileInput {
  display: none;
}

.customImageUploadLabel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 1.875rem;
  cursor: pointer;
  text-align: center;
  border-radius: 1.25rem;
  border: 0;
  background-color: var(--dark-bg);
  overflow: hidden;
}

.customImageUploadLabel img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.customImageUploadLabelContents {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3125rem;
  z-index: 2;
  color: var(--color-L100);
}

.customImageUploadLabelContentsOptions {
  background-color: var(--main-bg);
  padding: .625rem;
  border-radius: .625rem;
  visibility: hidden;
  opacity: 0;
  transition: var(--fast-linear);
}

.customImageUploadLabel:hover .customImageUploadLabelContentsOptions,
.customImageUploadLabel:focus .customImageUploadLabelContentsOptions {
  visibility: visible;
  opacity: 1;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.customImageUploadLabelContents svg {
  font-size: 19.2px;
}

.customImageUploadLabelContents p {
  margin: 0;
}

.itemInfoBox {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1.25rem;
  border-radius: 1.25rem;
  color: var(--color-L100);
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
}

.itemInfoBox::-webkit-scrollbar-thumb {
  background-color: var(--dark-neon-blue);
  border-radius: .625rem;
}

.itemInfoBox::-webkit-scrollbar-thumb:hover {
  background-color: var(--neon-blue);
}

.itemInfoBox::-webkit-scrollbar-track {
  margin-block-start: .9375rem;
  margin-block-end: .9375rem;
}

.inputBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.875rem;
}

.inputBox:last-child {
  margin-bottom: 0;
}

.inputBox2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: .625rem;
  width: 100%;
}

.inputText {
  width: 100%;
  padding: 1.25rem;
  border-radius: .625rem;
  background-color: transparent;
  border: 0;
  outline: var(--main-border-size) solid var(--color-L75);
  color: var(--color-L100);
  text-align: center;
  letter-spacing: .0625rem;
  transition: outline 300ms ease, color 300ms ease;
}

.inputTextArea {
  height: 12.5rem;
  width: 100%;
  line-height: 1.25rem;
  text-align: left;
  letter-spacing: .0625rem;
}

.successInputText {
  outline-color: var(--dark-neon-blue);
}

.errorInputText {
  outline-color: var(--error);
}

.inputText:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: var(--color-L100);
  -webkit-box-shadow: 0 0 0 62.5rem var(--main-bg) inset;
  caret-color: var(--color-L100);
}

.inputLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: .625rem;
  pointer-events: none;
  color: var(--color-L100);
  background-color: var(--main-bg);
  transition: 200ms ease;
}

.inputText:focus + .inputLabel,
.successLabel,
.errorLabel {
  top: -0.125rem;
  padding: .3125rem;
  font-size: 80%;
}

.successLabel {
  letter-spacing: .0625rem;
  font-weight: 500;
}

.errorLabel {
  letter-spacing: .0625rem;
  font-weight: 500;
  color: var(--error);
}

.errorText {
  color: var(--error);
}

/* .resizeHandle {
  height: 0rem;
  width: 0rem;
  border: .625rem solid rgb(0, 158, 158);
  border-radius: 50%;
  transform: rotate(-45deg);
  position: absolute;
  right: -0.3125rem;
  bottom: 0rem;
  pointer-events: none;
  z-index: 2;
} */

.submitAndCancelBtns {
  display: flex;
  gap: 3.125rem;
}

.submitBtn,
.cancelBtn {
  background-color: transparent;
  color: var(--color-L100);
  border: var(--main-border-size) solid var(--dark-neon-blue);
  border-radius: .625rem;
  padding: 10px;
  /* Use em instead of px for relative sizing */
  font-size: 16px;
  /* Use rem for a responsive font size */
  width: auto;
  padding: 16px 32px;
  transition: var(--fast-linear);
}

.submitBtn:hover {
  background-color: var(--dark-neon-blue);
  box-shadow: 0 0 .625rem var(--dark-neon-blue);
  cursor: pointer;
}

.cancelBtn {
  border: var(--main-border-size) solid var(--error);
}

.cancelBtn:hover {
  background-color: var(--error);
  box-shadow: 0 0 .625rem var(--error);
  cursor: pointer;
}

.toggleBtn {
  background-color: transparent;
  border: 0;
  color: var(--dark-neon-blue);
  transition: 100ms linear;
}

.toggleBtn:hover {
  cursor: pointer;
  color: var(--neon-blue);
}

.errorTextInput,
.errorTextInput:focus {
  outline: .125rem solid var(--error);
}

@media (hover: none) {
  .customImageUploadLabel .customImageUploadLabelContentsOptions {
    /* Styles for devices without hover capabilities go here */
    visibility: visible;
    opacity: 1;
  }
}
/* Breakpoints------------------------------------------------------------- */
@media (max-width: 72.5rem) {
  .deleteForm {
    height: 70%;
    width: 80%;
  }
}

@media (max-width: 62.5rem) {
  .itemForm {
    width: 100%;
    height: 100%;
    padding: .9375rem;
    border-radius: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-y: scroll;
    border: 0;
    box-shadow: none;
  }

  .itemForm::-webkit-scrollbar {
    /* background-color: rgb(21, 21, 21); */
    /* background-color: transparent; */
    width: .3125rem;
  }

  .customImageUploadLabel {
    height: 25rem;
  }

  .textAreaBox {
    width: 100%;
  }

  .itemInfoBox {
    gap: 1.25rem;
    padding: 1.875rem .625rem;
    overflow-y: visible;
  }

  .itemInfoBox::-webkit-scrollbar {
    /* background-color: rgb(21, 21, 21); */
    /* background-color: transparent; */
    width: 0rem;
  }

  .textInput {
    width: 100%;
  }

  .textArea {
    width: 100%;
  }
}

@media (max-width: 31.25rem) {
  .deleteForm {
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: none;
  }
}
