/* components\auth-pages\auth-pages.module.css */
.formBox {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  overflow-y: scroll;
}

.formBox::-webkit-scrollbar {
  width: 3px;
}

.formOuter,
.formOuterRegister {
  width: 500px;
  background-color: var(--main-bg);
  border-radius: 20px;
  text-align: center;
  border-top: var(--main-border-size) solid var(--dark-neon-blue);
  border-bottom: var(--main-border-size) solid var(--dark-neon-blue);
  /* border: var(--main-border-size) solid var(--dark-neon-blue); */
  box-shadow: 0 0 10px var(--dark-neon-blue);
}

.formOuter::-webkit-scrollbar,
.formOuterRegister::-webkit-scrollbar {
  width: 5px;
}

.formOuter h1,
.formOuterRegister h1 {
  margin-bottom: 50px;
  color: var(--color-L100);
  text-shadow: 0 0 10px var(--dark-neon-blue), 0 0 20px var(--dark-neon-blue),
    0 0 50px var(--dark-neon-blue);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form > * {
  color: var(--color-L75);
}

.inputBox {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 20px;
}

.inputBox2 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 50px; */
  margin-bottom: 0.625rem;
  background-color: transparent;
}

.inputIcons {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.textInput {
  padding: 1.25rem;
  padding-left: 20px;
  padding-right: 35px;
  border-radius: 10px;
  letter-spacing: 0.0625rem;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  color: var(--color-L100);
  outline: var(--main-border-size) solid var(--color-L75);
  transition: outline var(--medium-linear), color var(--medium-linear);
}

.inputLabel {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--color-L75);
  background-color: var(--main-bg);
  pointer-events: none;
  transition: var(--fast-ease);
}

.textInput:focus + .inputLabel,
.successLabel,
.errorLabel {
  top: 0;
  padding: 0.3125rem;
  font-size: 0.75rem;
}

.successOutline {
  outline-color: var(--dark-neon-blue);
}

.errorOutline {
  outline-color: var(--error);
}

.successLabel {
  letter-spacing: 0.0625rem;
  font-weight: 500;
}

.errorLabel {
  color: var(--error);
}

.errorMessage {
  color: var(--error);
}

.textInput:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: var(--color-L100);
  box-shadow: 0 0 0 1000px var(--main-bg) inset;
  caret-color: var(--color-L100);
  /* Above is a hack to stop the background color from when the user autofills saved input */
}

.separatorLine {
  display: flex;
  flex-direction: row;
  width: 70%;
  /* text-transform: uppercase; */
  margin: 20px 0;
  font-size: 1rem;
}

.separatorLine::before,
.separatorLine::after {
  content: "";
  border-bottom: 1px solid var(--neon-blue);
  flex: 1 0 auto;
  margin: 0;
  transform: translateY(-40%);
}

.separatorLine span {
  text-align: center;
  flex: 0.2 0 auto;
  margin: 0;
}

.submitBtn,
.googleBtn {
  position: relative;
  z-index: 1;
  background-color: var(--dark-neon-blue);
  color: var(--color-L100);
  border: none;
  border-radius: 10px;
  width: 30%;
  height: 50px;
  text-align: center;
  cursor: pointer;
  transition: var(--fast-linear);
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: var(--neon-blue);
  box-shadow: 0 0 10px var(--neon-blue);
  color: var(--main-bg);
}

.googleBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 50%;
  background-color: hsla(221, 100%, 49%, 0.51);
}
.googleBtn:hover,
.googleBtn:focus {
  background-color: hsla(221, 100%, 49%);
  box-shadow: 0 0 10px hsla(221, 100%, 49%);
}

.loginOrSignUpBox {
  /* position: absolute; */
  margin: 20px 0;
}

.form .loginOrSignUpBtn {
  font-size: 1rem;
  text-decoration: none;
  color: var(--dark-neon-blue);
  transition: var(--fast-linear);
}

.form .loginOrSignUpBtn:hover {
  cursor: pointer;
  color: var(--neon-blue);
}

@media screen and (min-width: 2560px) {
  .formOuter,
  .formOuterRegister {
    width: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .formOuter,
  .formOuterRegister {
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .formOuter,
  .formOuterRegister {
    width: 100%;
  }
}
