/* D:\Projects\Personal_Projects\nextjs-inventory-control\components\auth-pages\auth-pages.module.css */
.formBox {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  overflow-y: scroll;
}

.formBox::-webkit-scrollbar {
  width: 3px;
}

.formOuter,
.formOuterRegister {
  width: 500px;
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
  text-align: center;
  border-top: var(--main-border-size) solid var(--dark-neon-blue);
  border-bottom: var(--main-border-size) solid var(--dark-neon-blue);
  /* border: var(--main-border-size) solid var(--dark-neon-blue); */
  box-shadow: 0 0 10px var(--dark-neon-blue);
}

.formOuter::-webkit-scrollbar,
.formOuterRegister::-webkit-scrollbar {
  width: 5px;
}

.formOuter h1,
.formOuterRegister h1 {
  margin-bottom: 50px;
  color: white;
  text-shadow: 0 0 10px var(--dark-neon-blue), 0 0 20px var(--dark-neon-blue),
    0 0 50px var(--dark-neon-blue);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form > * {
  color: rgb(190, 190, 190);
}

.inputBox {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 20px;
}

.inputSubBox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  background-color: transparent;
}

.inputIcons {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.textInput {
  padding-left: 20px;
  padding-right: 35px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  color: rgb(190, 190, 190);
  outline: 2px solid rgba(190, 190, 190, 1);
  transition: outline-color 0.3s ease;
}

.textInput:focus {
  /* border: var(--main-border-size) solid var(--dark-neon-blue); */
  outline-color: var(--dark-neon-blue);
  /* transition: 0.3s ease; */
}

.inputLabel {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: rgb(190, 190, 190);
  background-color: rgb(30, 30, 30);
  pointer-events: none;
  transition: 0.3s ease;
}

.textInput:focus + .inputLabel,
.inputActive {
  top: 0px;
  font-size: 0.8em;
  padding: 5px;
}

.errorTextInput,
.errorTextInput:focus {
  outline-color: rgba(255, 0, 0, 0.5);
}

.errorLabel {
  color: rgba(255, 0, 0, 0.5);
}

.errorMessage {
  color: rgba(255, 0, 0, 0.8);
  margin-top: 10px;
}

.textInput:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: rgb(190, 190, 190);
  box-shadow: 0 0 0 1000px rgb(30, 30, 30) inset;
  caret-color: white;
  /* Above is a hack to stop the background color from when the user autofills saved input */
}

.separatorLine {
  display: flex;
  flex-direction: row;
  width: 70%;
  /* text-transform: uppercase; */
  margin: 20px 0;
  font-size: 1rem;
}

.separatorLine::before,
.separatorLine::after {
  content: "";
  border-bottom: 1px solid var(--neon-blue);
  flex: 1 0 auto;
  margin: 0;
  transform: translateY(-40%);
}

.separatorLine span {
  text-align: center;
  flex: 0.2 0 auto;
  margin: 0;
}

.form .submitBtn,
.googleBtn {
  position: relative;
  z-index: 1;
  background-color: black;
  background-image: linear-gradient(to right, var(--dark-neon-blue), rgba(89, 0, 148, 0.5));
  color: white;
  border: none;
  border-radius: 10px;
  width: 30%;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
.googleBtn {
  background-image: none;
}

.form .submitBtn::before,
.googleBtn::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, var(--neon-blue), rgba(89, 0, 148, 1));
  box-shadow: 0 0 10px var(--neon-blue);
  border-radius: 10px;
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
.googleBtn::before {
  background-image: none;
}

.googleBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 50%;
  /* background-image: linear-gradient(to right, rgba(51, 103, 214, 0.51), rgba(0, 79, 250, 0.51)); */
  /* background-color: var(--dark-neon-blue); */
  background-color: rgba(0, 79, 250, 0.51);
}

.googleBtn::before {
  background-color: rgba(0, 79, 250, 1);
  box-shadow: 0 0 10px rgba(0, 79, 250, 0.51);
}

.form .submitBtn:hover::before,
.googleBtn:hover::before {
  opacity: 1;
}

.loginOrSignUpPart {
  /* position: absolute; */
  margin: 20px 0;
}

.form .toggleBtn {
  font-size: 1rem;
  text-decoration: none;
  color: var(--dark-neon-blue);
  transition: 100ms linear;
}

.form .toggleBtn:hover {
  cursor: pointer;
  color: var(--neon-blue);
}

@media screen and (min-width: 2560px) {
  .formOuter,
  .formOuterRegister {
    width: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .formOuter,
  .formOuterRegister {
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .formOuter,
  .formOuterRegister {
    width: 100%;
  }
}
